@model GBA_Application.Models.Employees

@{
    ViewData["Title"] = "Employee Home Page";

}

<a asp-area="" asp-controller="Services" asp-action="Index">Services</a>
<br />
<a asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
<br />
<a asp-area="" asp-controller="Employees" asp-action="ChangePassword">Profile</a>
<br />